@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&family=Playfair+Display:wght@400;700&display=swap");
@import "@fontsource/montserrat";

@custom-variant dark (&:where(.dark, .dark *));

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: "Playfair Display", serif;
}

h2 {
  font-family: "Playfair Display", serif;
}

h3,
p,
a,
button,
label {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}
